/* *{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
#parent{
    height: 400px;
    width:400px;
    border:1px solid transparent;
    margin: 100px 45%;
    display:flex;
    align-content: space-evenly;
    flex-wrap: wrap-reverse;
    align-items: center;
}
.spinner{
    width:200px;
    height:200px;
    border-radius:50%;
    border:10px solid rgba(0, 0,0, 0.1);
    animation:spin 1s linear infinite;
    border-left-color: #7983ff; 
}
@keyframes spin {
    to{
        transform:rotate(360deg);
    }
} */